* {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

/* #lastUploaded {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20%;
  border: none;
  padding: 10px;
} */

/* #updateTime {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20%;
  border: none;
  padding: 10px;
} */

table {
  width: 100%;
}

td {
  padding: 8px;
}

.title {
  width: 50%;
}

.author {
  width: 30%;
}

tbody tr:nth-child(odd) {
  background-color: #C5C5C5;
  color: #fff;
}