extends layout.pug

block scripts
  link(rel='stylesheet', href='/index.css')

block content
  table
    tr
    each book in book_list
      tr
        td#title #{book.title}
        td#author #{book.author}
        td.format#pdf
          if book.format.pdf
            a(href= book.format.pdf) PDF
        td.format#epub
          if book.format.epub
            a(href= book.format.epub) EPUB
        td.format#mobi
          if book.format.mobi
            a(href= book.format.mobi) MOBI